.dockerignore
.git
.git*
.github
.env
.env.*
!.env.example
.DS_Store
Dockerfile*
compose*.yml
compose*.yaml

/docker
/node_modules
/work
/logs
/data
/conf
/temp
/test

/htdocs/index.html
/htdocs/test*
/htdocs/js/external/*
/htdocs/js/common
/htdocs/fonts/*
/htdocs/css/font*
/htdocs/css/mat*
/htdocs/css/base.css
/htdocs/css/normalize.css
/htdocs/css/atom*
/htdocs/codemirror
/sample_conf/masters.json
/sample_conf/overrides.json
